.serviceContainer {
    display: flex;
    width: 50%;
    align-items:center;
    margin-bottom: 10%;
}

.serviceContainerImageContainer {
    width: 7%;
    margin-right: 10%;
}

.elaborateH {
    font-size: 1.8em;
    font-weight: 600;
}